<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Convert Master</title>
    <style>
        li{
            
            float: left;
            

        }
    </style>
</head>
<body>
    <ul>
        <li>Convert Master</li>
        <li>Home</li>
        <li>Services</li>
        <li>About</li>
        <li>Documentation</li>
        <li>Register</li>
        <li>Login</li>
    </ul>

    <h2>Welcome to Convert Master</h2>
    <h3>Your online type conversion friend</h3>

    <h1>Convert Master</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptas eaque ipsum, facilis necessitatibus neque architecto, saepe quis alias, explicabo cumque sint ea voluptatibus veritatis odit. Porro aspernatur atque in!</p>
    <h2>Services</h2>
    <button>XMl to JSON</button>
    <button>XMl to CSV</button>
    <button>CSV to JSON</button>
    <button>CSV to XML</button>
    <button>JSON to XML</button>
    <button>JSON to CSV</button>



</body>
</html>