{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Convert Master</title>
    <script src="{% static 'jquery-3.3.1.min.js' %}" ></script>
    <script src="{% static 'jquery-validation-1.17.0/dist/jquery.validate.js' %}" ></script>

    <link href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.css'  %}" rel="stylesheet" >
    <script src="{% static 'main.js' %}" rel='stylesheet'></script>
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
    
</head>

<body style="margin: 0px; padding:0px">

    <div class="container-fluid">
    <!-- navigation bar -->
    {% include 'partials/navbar.html' %}


    <!-- intropage -->
    <header class="showcase">
        
        <div class="content">

            <div class="title">
                <b>Welcome to Convert Master!</b>
            </div>

            <div class="text">
                <span>Your Online Type Conversion Friend.</span>
            </div>

        </div> 

    </header>


    <!-- section2 about convertmaster  -->


    <!-- <section  class="about_cm"> -->
        <div class="img_logo">
            <img src="../media/images/navbar_logo.png" class="logo img img-responsive img-rounded" alt="Convert Master">
        </div>
        
        <div class="col-sm-1">


        </div>
        <div class="col-sm-10 cm_lines">
            
            <p>
                
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse aliquam debitis dolorem commodi deserunt ullam, blanditiis ut optio iure. Consequuntur voluptatum quia dolores, nam modi nobis, eum esse inventore sed recusandae ex quisquam neque ea minus eius consequatur dignissimos facilis soluta ducimus perferendis, officiis suscipit porro reprehenderit. Provident dolores quod cum error, numquam fugit exercitationem mollitia molestias ipsum? Eum, at!
        
            </p>
        
        </div>

        <div class="col-sm-1">


        </div>
        
    
    <!-- </section> -->
    
    <!-- services provided by convert master-->
        
    <!-- <section class="services"> -->

        <div class="container grid-3">
            <div>
                <h3><i>Xml to Csv</i></h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, doloremque!</p>
            </div>

            <div>
                <h3><i>Xml to Csv</i></h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, doloremque!</p>
            </div>

            <div>
                <h3><i>Xml to Csv</i></h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, doloremque!</p>
            </div>
        </div>

    <!-- </section> -->

<footer class="center">

    <p>ConvertMaster &copy; 2018</p>

</footer>
</div>
</body>
</html>



<!-- <ul>
        <li>Convert Master</li>
        <li>Home</li>
        <li>Services</li>
        <li>About</li>
        <li>Documentation</li>
        <li>Register</li>
        <li>Login</li>
    </ul>

    <h2>Welcome to Convert Master</h2>
    <h3>Your online type conversion friend</h3>

    <h1>Convert Master</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptas eaque ipsum, facilis necessitatibus neque architecto, saepe quis alias, explicabo cumque sint ea voluptatibus veritatis odit. Porro aspernatur atque in!</p>
    <h2>Services</h2>
    <button>XMl to JSON</button>
    <button>XMl to CSV</button>
    <button>CSV to JSON</button>
    <button>CSV to XML</button>
    <button>JSON to XML</button>
    <button>JSON to CSV</button> -->