<style>

body {
  margin: 0;
  background-color: #f4ece6;
}

#footer a{
    text-decoration: none;
    color: whitesmoke;
    }
  #footer h4{
      color: aqua;
  }
  #footer a:hover{
    color:maroon;
  }

  .footer_main{
    background-color: black;    
    margin-top: 116px;
    padding-top: 25px;
  }

  .services_hr{

    color: blue;
  }

  .help_hr{
    color: yellow;
  }

  contact_hr{
    background-color: green;
  }
  


</style>

<div class="container-fluid footer_main">
        <div class="container">
          <div class="row" id="footer">
            <div class="col-md-offset-1 col-md-2 col-xs-4">
              <h4>Services</h4> 
              <hr class="services_hr">
              <ul class="list-unstyled">
                <a href="">XML to JSON</a><br>
                <a href="">XML to CSV</a><br>
                <a href="">JSON to XML</a><br>
                <a href="">JSON to CSV</a><br>
                <a href="">CSV to JSON</a><br>
                <a href="">CSV to XML</a><br>
    
              </ul>
            </div>
            <div class="col-md-2 col-xs-4">
              <h4>Help</h4> 
              <hr class="help_hr">
              <ul class="list-unstyled">
                  <a href="">Documentation</a><br>
                  <a href="">FAQs</a><br>
                  <a href="">API</a><br>
              </ul>
            </div>
            <div class="col-md-2 col-onset-3 col-xs-4">
              <h4>Contact</h4>
              <hr class="contact_hr" >
              <ul class="list-unstyled">
                  <a href="">Contact Us</a>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5 class="text-center">Made with <span class="text-danger">love</span> by team D'Coders | <span class="text-danger">Convert Master</span></h5>
              <hr>
            </div>
          </div>
        </div>
      </div>
