{% extends 'base.html' %}

{% block content %}
<h1>csv-xml</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">CSV</label><br>
        <textarea name="csv" id="input" cols="30" rows="30"></textarea>
    
        <label for="">JSON</label>
        <textarea name="json" id="output" cols="30" rows="30"></textarea>
        
            
        <input type="button" onclick="csvtoxml()" value="convert">
    </form>
    <script>
        function csvtoxml(){
            var data = new FormData();
            var csv = document.getElementById('input').value;
            var token = '{{ csrf_token }}'
            data.append('csv', csv);
            data.append('csrfmiddlewaretoken', token);
            var request = new XMLHttpRequest();
            request.onreadystatechange = function (){
                if(this.readyState == 4 && this.status == 200){
                    var out = JSON.parse(this.response);
                
                    document.getElementById('output').innerHTML = out['ans'];
                    
                }
            };
            request.open('POST', "{% url 'csv-xml' %}", true);
            request.send(data);
        }
    </script>
{% endblock content %}