{% extends 'base.html' %}

{% block content %}
<h1>json-xml</h1>
    <form >
        {% csrf_token %}
        <label for="">JSON</label><br>
        <textarea name="json" id="input" cols="30" rows="10"></textarea>
    
        
        <label for="">XML</label>
        <textarea name="json" id="output" cols="30" rows="10"></textarea>
    
            
        <input type="button" onclick="jsontoxml()" value="convert">
    </form>

    <script>
        function jsontoxml(){
            var data = new FormData();
            var xml = document.getElementById('input').value;
            var token = '{{ csrf_token }}'
            data.append('json', xml);
            data.append('csrfmiddlewaretoken', token);
            var request = new XMLHttpRequest();
            request.onreadystatechange = function (){
                if(this.readyState == 4 && this.status == 200){
                    var out = JSON.parse(this.response);
                
                    document.getElementById('output').innerHTML = out['ans'];
                    
                }
            };
            request.open('POST', "{% url 'json-xml' %}", true);
            request.send(data);
        }
    </script>
    
{% endblock content %}