{% extends 'base.html' %}

{% load staticfiles %}

{% block head-title %}
    JSON-XML
{% endblock head-title %}
    


{% block content %}

<!-- Main heading -->
<div class="row" style="margin-top:-22px;padding-top:2px">
    <h1 class="text-center" style="margin-top: 0px; background-color: #ccffff; font-size:4rem; font-family:Trocchi ;color:#330000 ">
        <b>JSON TO XML CONVERSION</b>
    </h1>         
</div>

<!-- conversion heading -->
<div class="row justify-content-center">
    <h3 class="text-center" style="margin-top:2%;padding-top: 5px;padding-bottom: 5px; font-family:Trocchi ;color: lemonchiffon;background-color: #d83838">
        Your Code Conversion Area</h3>
</div>


<!-- Conversion Area -->

<div class="container-fluid" style="margin-top:2%">
    <div class="row justify-content-center">
        <form>
            {% csrf_token %}
            <div class="col-lg-1 col-sm-1 ">

            </div>
            <div class="col-lg-4 col-sm-4">
                <label for="" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:2rem;color:#1a0000">Write your own JSON CODE
                </label><br>
                <textarea name="json" id="input" cols="50" rows="15" style="resize: none;border-left: solid 10px #1f284d; background: lightgrey; width:100%"></textarea>
            </div>
        
            <div class="col-lg-2 col-sm-2 " style="padding-top:10%; padding-bottom:11%">
                <input style="margin-left:3% " type="button" onclick="jsontoxml()" value="Convert" class="text-center btn btn-primary">
                <br><br><br>
                {% if user.is_authenticated %}
                    <!-- workable button only when user has login -->
                    <input type="button" onclick="jsontoxml()" style="margin-left:3%" value="Download" class="text-center btn btn-primary">
                {% else %}
                    <!-- non functionable bsutton -->
                <a href="{% url 'login'  %}">
                    <input type="button" style="margin-left:3%" value="Download" class="text-center btn btn-primary">
                </a>
                {% endif %}
            </div>


            <div class="col-lg-4 col-sm-4" >
                <label for="" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:2rem;color:#1a0000">
                    XML CODE
                </label><br>
                <textarea name="json" id="output" cols="50" rows="15" style="resize: none;border-left: solid 10px #1f284d; background: lightgrey; width: 100%"></textarea>    
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-offset-4 col-sm-8 col-sm-onset-0 col-md-offset-6 col-md-6">
                    {% if user.is_authenticated or user.is_superuser%}
                        <!-- Form for saving database from user -->
                        <form action="{% url 'save' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="JSON" name='original'>
                            <input type="hidden" value="XML" name='converted'>
                            <input type="hidden" value='' id='filename' name='filename'>
                            <input type="text" required="true" name='convName' placeholder="Enter Conversion Name">
                        
                        
                        <!-- workable button only when user has login -->
                        <input type="submit" class="btn btn-primary" value="Save conversion">
                            
                        </form>
                        <a href="" class="btn btn-primary" id='download' download>Download</a>
                        
                    {% else %}
                        <!-- non functionable bsutton -->
                        <label for="">( Login is Required for saving the Conversion and downloading the code )</label>
                        <input type="text" placeholder="Enter Conversion Name" disabled='disabled'>
                        <button class="btn btn-primary" type="submit" disabled="disabled">Save Conversion</button>
                        <input type="button" onclick="jsontoxml()" disabled='disabled' value="Download" class="text-center btn btn-primary">
                    {% endif %}
                    <input  type="button" onclick="jsontoxml()" value="Convert" class="text-center btn btn-danger">
                </div>
            </div>
    </div>
</div>

<!-- example code heading -->
<div class="row justify-content-center">
    <h3 class="text-center" style="margin-top:2.5%;padding-top: 5px;padding-bottom: 5px; font-family:Trocchi ;color: lemonchiffon;background-color: #d83838">
        Here is an Example Code
    </h3>
</div>
    
<!-- Example Code Showcase -->
    
<div class="container-fluid" style="margin-top: 2%">
    
    <div class="row justify-content-center">
    
        <div class="col-lg-2">
    
        </div>
    
        <div class="col-lg-4">
            <label for="" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:2rem;color:#1a0000">JSON CODE
            </label><br>
            <textarea readonly cols="50" rows="15" style="resize: none;border-left: solid 10px #1f284d; background: lightgrey; width:100%">
{
    "csv_data": {
        "row": [
        {
        "name": "Harmandeep Singh",
        "class": "B.Tech CSE",
        "rollno": "2017CSA1080"
        },
        {
        "name": "Gursharandeep Singh",
        "class": "B.Tech CSE",
        "rollno": "2017CSA1076"
        },
        {
        "name": "Harmandeep Singh",
        "class": "B.Tech CSE",
        "rollno": "2017CSA1078"
        },
        {
        "name": "Kriti Rikhi",
        "class": "B.Tech CSE",
        "rollno": "2017CSA1110"
        }
        ]
    }
}
</textarea>
        </div>
    
        <div class="col-lg-4">
            <label for="" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:2rem;color:#1a0000">XML CODE
            </label><br>
            <textarea readonly cols="50" rows="15" style="resize: none;border-left: solid 10px #1f284d; background: lightgrey; width:100%">
<?xml version="1.0" encoding="utf-8"?>
<csv_data>
    <row>
        <name>Harmandeep Singh</name>
        <class>B.Tech CSE</class>
        <rollno>2017CSA1080</rollno>
    </row>
    <row>
        <name>Gursharandeep Singh</name>
        <class>B.Tech CSE</class>
        <rollno>2017CSA1076</rollno>
    </row>
    <row>
        <name>Harmandeep Singh</name>
        <class>B.Tech CSE</class>
        <rollno>2017CSA1078</rollno>
    </row>
    <row>
        <name>Kriti Rikhi</name>
        <class>B.Tech CSE</class>
        <rollno>2017CSA1110</rollno>
    </row>
</csv_data>
            </textarea>
        </div>
    
    
    
    </div>

</div>
    




 



<!-- Convert Function -->
    <script>
        function jsontoxml(){
            var data = new FormData();
            var json = document.getElementById('input').value;
            var token = '{{ csrf_token }}'
            data.append('json', json);
            data.append('csrfmiddlewaretoken', token);
            var request = new XMLHttpRequest();
            request.onreadystatechange = function (){
                if(this.readyState == 4 && this.status == 200){
                    var out = JSON.parse(this.response);
                
                    document.getElementById('output').innerHTML = out['ans'];
                    var link = '/media/'+ out['filename']+'.xml';
                    document.getElementById('download').setAttribute('href',link)
                    document.getElementById('filename').value = out['filename'];
                    
                }
            };
            request.open('POST', "{% url 'json-xml' %}", true);
            request.send(data);
        }
        
        function save(){
            alert('Save Function called')
            var data2 = new FormData();
            var original = document.getElementById('original').value;
            var converted = document.getElementById('converted').value;
            var filename = document.getElementById('filename').value;
            var convName = document.getElementById('ConvName').value;
            
            data2.append('original',original);
            data2.append('converted',converted);
            data2.append('filename',filename);
            data2.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        
        
            alert('Conversion Name Cannot be empty')
        
            var request = new XMLHttpRequest();
            request.onreadystatechange = function (){
                if(this.readyState == 4 && this.status == 200){
                    var out = JSON.parse(this.response);
                    alert('Saved Success')
                    
                }
            };
            request.open('POST', "{% url 'save' %}", true);
            request.send(data2);
        }
    </script>
    
{% endblock%}