{% extends 'base.html' %}

{% block content %}
<h1>json-csv</h1>
<form action="{% url 'json-xml' %}" method="post">
        {% csrf_token %}
        <label for="">JSON</label><br>
        <textarea name="json" id="" cols="30" rows="10"></textarea>
    
        {% comment %}
        <label for="">JSON</label>
        <textarea name="json" id="" cols="30" rows="10"></textarea>
        {% endcomment %}
            
        <input type="submit" value="convert">
    </form>
    
{% endblock content %}