body{

    margin: 0;
    font-family: sans-serif;
    background-color:#060613;
   
}

.showcase::after{

    content:'' ;
    height: 100vh;
    width: 100%;
    background-image: url(../../media/images/background_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition: all 1000ms;
}


.content{

    position: absolute;
    z-index: 1;
    top: 35%;
    left: 50%;
    margin-top: 105px;
    margin-left: -290px;
    width:643px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
    color:#fffd82;
    
}

.content .title{

    font-size: 4rem;
    margin-top: -2rem;

}

.content .text{

    margin-top: 1rem;
    line-height: 1.7;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about_cm{
    background-color: black;
    color: lightblue;
    text-align: center;
    transition: all 1000ms;
    

}

.logo{
    height: 300px;
    width: 592px;
    margin-left: 30%;
}

.cm_lines{

    margin-top: 1rem;
    line-height: 1.7;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    color: azure;
}

.img_logo{
    background-color:#ffe6ff; 
}

#fullpage {
    height: 100vh;
    overflow: hidden;
}

#fullpage section { height: 100vh; }
p{
    font-size: larger;
    padding-top: 60px;
}

.tiles{

    background-color:white;
    margin: 0px 0px 0px 88px;
    width: 340px;
    height: 85px;
    border-radius: 15px ;
    padding: 10px;
}


.tile_row{

    height: 100px;
    margin-left: 60px;
    margin-top:20px;

}
.tiles:hover {
    background-color: #337ab7;
    color:white;
  }

.tile_row .convert_links{
    text-align: center;
    
}

.services_header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 239px;
    height: 77px;
    background-color: #337ab7;
    color: white;
    margin-left: 40.6%;
    margin-top: 30px;
    padding: 1px 0px 10px 0px;
}

.services_rows{

    padding: 50px 0px 0px 0px;
}

/* small screens */

/* @media (max-width:560px){

    .showcase::after{
        height: 50vh;
    }

    .content{
        height: 200px;
        top: 35%;
        left: 58%;
        margin-top: 105px;
        margin-left: -290px;
        width: 383px;
    }

    .content .text{
        margin-top: 0.5rem;
        line-height: 1;
        font-size: 1.9rem;
    }
    .content .title{

        font-size: 2.7rem;
        margin-top: 0rem;
    
    }

} */