{% extends "base.html" %}

{% block head-title %}Login{% endblock head-title %}
    
{% block content %}
<!-- Jumbotron-->
<div class="text-center jumbotron">
    <h2>
        <b> Login Here </b> 
    </h2>
</div>
<!-- Main Form -->
<div class="container-fluid">
    
    <div class=" col-sm-offset-1 col-sm-10 text-center col-sm-onset-1 col-lg-offset-4 col-lg-4 col-lg-onset-4">
        <div class="card-body">
            <!--Alerts-->
            {% include 'partials/_alerts.html' %}
            <!-- Login Form  -->
            <form action="{% url 'login'  %}" class="form-group" id="register_form" method="POST">
                
                {% csrf_token %}
                <div class="form-group"> 
                    <label> 
                        <h4> 
                            <b> Enter the User Name </b> 
                        </h4> 
                        <input class=" form-control " type='text' placeholder="User Name" name='user_name' data-rule-required="true" data-msg-required="This Field is required" /> 
                    </label> 
                </div>
                <div class="form-group"> 
                    <label > 
                        <h4 >
                            <b> Enter the Password  </b> 
                        </h4> 
                        <input class=" form-control " placeholder="Password" type='password' name='password'  data-rule-required="true" data-msg-required="This Field is required" />  
                    </label> 
                </div>
                
                <div class="form-group"> 
                    <input type="submit" class=" btn btn-success" value="Login" /> 
                    <h5>Don't have an account? | <a href="{% url 'register' %}">Sign Up</a> </h5>
                </div>
            
            </form>
            <!-- Login Form Ends -->

    
        </div>
    </div>
</div>

{% endblock %}